$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$fa-font-path: "~sass-font-awesome/fonts/";

@import "~bootstrap-sass/assets/stylesheets/bootstrap/";
@import "~angular-material/angular-material.scss";
@import "~sass-font-awesome/font-awesome";

/* Sticky footer styles
-------------------------------------------------- */

body, html {
  min-height: 100%;
  background-color: #e6e6e6;
}

.main-container {
  min-height: 100%;
  min-width: 480px;
  // background-image: url('../../assets/img/loginPage/loginPage.jpg');
  height: auto;
}

.login-form__background-img {
    width: 100%;
    min-height: 100%;
    position:relative;
    // background-image: url('../../assets/img/loginPage/loginPage.jpg');
    background-image: url('../img/loginPage/loginPage3.jpg');
    // transition: 3s linear;
    background-size: cover; /* Современные браузеры */
}
